{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Welcome to QuickCart</h1>

<div class="product-grid">
  {% for product in Products %}
    <div class="product-card">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
      <h3>{{ product.name }}</h3>
      <p>₹{{ product.price }}</p>
      <a href="{% url 'product_detail' product.id %}" class="btn">About Product</a>
    </div>
  {% endfor %}
</div>

<a href="{% url 'displaycart' %}" class="btn go-cart">🛒 Go to Cart</a>
{% endblock %}
